.ForgotPassword {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ForgotPassword .forgot-password-wrapper {
  background-color: white;
  width: 300px;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  animation: show-options 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ForgotPassword .forgot-password-wrapper .header {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  color: #1c274c;
  opacity: 0.5;
  width: 90%;
}
.ForgotPassword .forgot-password-wrapper .header #close {
  position: absolute;
  right: 0;
  top: 0px;
  cursor: pointer;
}
.ForgotPassword .forgot-password-wrapper .header .header-text {
  margin-left: 5px;
}
.ForgotPassword .forgot-password-wrapper .btn-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ForgotPassword .forgot-password-wrapper .btn-container button {
  margin: 2px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  padding: 5px;
  background-position: 0%;
  background-size: 200%;
  color: #fff;
  background-image: linear-gradient(
    to right,
    rgb(16, 106, 162) 50%,
    rgb(6, 41, 86) 50%
  );
  border-radius: var(--border-radius);
  transition: background 0.5s ease;
}

.ForgotPassword .forgot-password-wrapper .btn-container button:hover {
  background-position: 100%;
}

.ForgotPassword .forgot-password-wrapper .input {
  display: flex;
  flex-direction: column;
}
