.FriendRequest {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: var(--border-radius);
  transition: background 0.5s ease;
}
.FriendRequest:hover {
  background-color: rgba(0, 119, 255, 0.06);
}
.FriendRequest img {
  margin-right: 5px;
}
.FriendRequest .other {
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FriendRequest .other .user-info {
  margin-right: 10px;
}
.FriendRequest .other .user-info .user-username {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.648);
}
.FriendRequest .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.FriendRequest button {
  cursor: pointer;
  margin-left: 5px;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FriendRequest #accept {
  background-color: rgb(23, 127, 87);
  transition: background 0.5s ease;
}
.FriendRequest #accept:hover {
  background-color: rgb(6, 86, 55);
}
.FriendRequest #reject {
  background-color: rgb(127, 23, 23);
  transition: background 0.5s ease;
}
.FriendRequest #reject:hover {
  background-color: rgb(86, 6, 6);
}
