#hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
#hero .image {
  margin-top: 20px;
  margin-left: 10px;
  width: 700px;
}
#hero .image img {
  width: 100%;
}
#hero .welcome-container {
  margin-top: -20px;
  margin-right: -10px;
  width: 500px;
}
.welcome-container .title {
  font-size: 32px;
}
.welcome-container .text {
  padding-bottom: 10px;
}
#hero .join {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: black;
  background-color: rgba(0, 119, 255, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  transition: all 0.5s ease;
}
#hero .join:hover {
  background-color: rgba(0, 119, 255, 0.3);
  transform: translateX(10px);
}

#hero .join .icon {
  margin-top: 5px;
  margin-left: 5px;
}

#hero .info {
  position: absolute;
  top: calc(100% - 85px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 20px;
  background-color: white;
  z-index: 1;
}
#hero .info .user-info,
#hero .info .post-info,
#hero .info .like-info,
#hero .info .comment-info {
  position: relative;
  padding: 10px;
  margin: 5px;
  margin-right: 25px;
  width: 150px;
  height: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .info .comment-info {
  margin: 5px;
}
#hero .info .number-hero {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}
#hero .info .title {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.644);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#hero .line {
  position: absolute;
  height: 1px;
  width: 90%;
  bottom: 0;
  background-color: rgb(58, 105, 152);
}

#hero .line .circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(58, 105, 152);
}

#hero .line .circle.right {
  right: 0;
}
