@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap");

.Login {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.Login .wrapper {
  width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  animation: show-login 1s;
}
@keyframes show-login {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
.Login .image-side {
  position: absolute;
  left: 0;
  animation: animate-sides 1s 1s backwards;
}
@keyframes animate-sides {
  0% {
    left: 50%;
    transform: translateX(-50%);
  }
}
.Login .form {
  position: absolute;
  right: 0;
  margin-top: 0px;
  box-shadow: var(--box-shadow);
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: animate-sides 1s 1s backwards;
}
.Login h1 {
  font-size: 24px;
}
.Login p {
  opacity: 0.3;
  font-size: 14px;
  margin-top: -15px;
}
.Login .input {
  margin-top: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Login .input svg {
  opacity: 0.3;
  position: absolute;
  top: calc(50% - 3px);
  right: 15px;
  transform: translateY(-50%);
}
.Login .container {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.Login .other-options {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}
.Login .other-options span {
  display: block;
  height: 1px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0);
}
.Login button {
  cursor: pointer;
  border: none;
  outline: none;
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  transition: background 0.3s ease;
}
.Login #btn-login {
  font-family: "Poppins", sans-serif;
  background-color: royalblue;
  color: white;
}
.Login #btn-login:hover {
  background-color: rgb(92, 119, 200);
}
.Login #signup {
  text-decoration: none;
  padding: 15px;
  font-size: 14px;
  border-radius: var(--border-radius);
  background-color: #006d77;
  color: white;
  width: 80%;
  text-align: center;
  margin: 5px;
}
.Login #signup:hover {
  background-color: #0095a2;
}
.Login .forgot-password {
  margin-top: -2px;
  cursor: pointer;
}
.Login .forgot-password {
  text-decoration: none;
  color: black;
  padding: 6px 8px;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.Login .forgot-password:hover {
  background: rgba(0, 119, 255, 0.06);
}
.checkbox-wrapper-4 * {
  box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}
.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: rgb(38, 73, 179);
}
.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: rgb(38, 73, 179);
  border-color: rgb(38, 73, 179);
  animation: wave-4 0.4s ease;
}
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
