.MessagesSideBar {
  position: relative;
  height: 100%;
  width: 30%;
  padding: 10px;
}
.MessagesSideBar .search-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 5px;
}
.MessagesSideBar .search-box svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.MessagesSideBar .search-box input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 35px;
  background-color: aliceblue;
  border-radius: var(--border-radius);
}

.MessagesSideBar .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 15px;
  width: 100%;
}
.MessagesSideBar .title .text {
  font-size: 24px;
  font-weight: 600;
}
.MessagesSideBar .newConversation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1111111111111111111111111111111111111111111111111111111111111111111111111111111111;
}

.MessagesSideBar .newConversation-container .wrapper {
  background-color: white;
  padding: 10px;
  height: 500px;
  width: 400px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow-y: auto;
}

.MessagesSideBar .newConversation-container .wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.MessagesSideBar .newConversation-container .wrapper .header .title-text {
  font-size: 24px;
  font-weight: 600;
}

.MessagesSideBar .newConversation-container .wrapper .friend-data {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.MessagesSideBar .newConversation-container .wrapper .friend-data .user-data {
  display: flex;
  align-items: center;
}
.MessagesSideBar
  .newConversation-container
  .wrapper
  .friend-data
  .user-data
  .user-info {
  margin-left: 7px;
}

.MessagesSideBar
  .newConversation-container
  .wrapper
  .friend-data
  .user-data
  .user-info
  .name {
  font-weight: 500;
}

.MessagesSideBar
  .newConversation-container
  .wrapper
  .friend-data
  .user-data
  .user-info
  .username {
  font-size: 12px;
  opacity: 0.5;
}

.MessagesSideBar .friend-pic {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.MessagesSideBar svg {
  cursor: pointer;
  transition: 0.5 ease;
}
.MessagesSideBar svg:hover {
  opacity: 0.5;
}
