.Post {
  margin-top: 20px;
  background-color: white;
  width: 600px;
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  animation: show-post 0.5s;
}

@keyframes show-post {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.Post .post-header {
  display: flex;
  padding: 5px;
}

.Post #user-profilePicture {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}
.Post .info .name {
  font-weight: 600;
  margin-top: 2px;
}
.Post .info .time {
  font-size: 12px;
  opacity: 0.5;
  margin-top: -2px;
}
.Post .text {
  padding: 5px;
}

.Post .images {
  padding: 5px;
}
.Post .images .wrapper {
  position: relative;
}
.Post .images .wrapper .image-nubmer {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  background-color: rgba(231, 231, 231, 0.187);
  padding: 5px;
  border-radius: var(--border-radius);
}
.Post .images .post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.Post .post-footer .post-numbers {
  padding: 5px;
  display: flex;
  align-items: center;
}
.Post .post-footer .post-numbers .likes,
.Post .post-footer .post-numbers .comments {
  margin: 5px;
  display: flex;
  align-items: center;
}

.Post .post-footer .post-numbers .likes .number,
.Post .post-footer .post-numbers .comments .number {
  margin-left: 5px;
}
.Post svg {
  cursor: pointer;
}

.Post #svg-heart path {
  transition: all 0.5s ease;
}
.Post #svg-heart:hover path {
  fill: #d72d2d;
}

.Post #svg-comment #Icon-Set-Filled {
  transition: all 0.5s ease;
}

.Post #svg-comment:hover #Icon-Set-Filled {
  fill: #a4c5f9;
}
