.ReadMore {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ReadMore .more-about{
    position: relative;
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    animation: show-readMore 1s;
}
.more-content{
    padding: 25px;
}

.ReadMore button{
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #a70000;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.ReadMore button:hover{
    background-color: #c41515;
}
.ReadMore .logo-container{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes show-readMore {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
}
@keyframes show-close {
    0% {
        opacity: 0;
    }
}
